@media only screen and (max-width: 1600px) {
  nav {
    margin: 40px 60px;
  }

  .social-media div {
    font-size: 27px;
  }

  .nav-button {
    font-size: 27px;
    transform: rotate(-5deg);
  }

  .logo {
    width: 420px;
  }

  .header-img {
    width: 450px;
    height: 450px;
    left: 34%;
  }

  .about {
    padding: 80px 80px 0;
  }

  .about-img {
    width: 400px;
    height: 400px;
    margin-top: auto;
  }

  .about-text h2 {
    margin-bottom: 28px;
    margin-top: 0;
  }

  .about-text p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .about-text a {
    font-size: 25px;
  }

  .social {
    padding: 35px;
  }

  .social-container {
    padding: 0px 15px 0px;
  }

  .social-text {
    margin-left: 25px;
  }

  .social-text h2 {
    margin-bottom: 0;
    font-size: 28px;
  }

  .social-text p {
    font-size: 17px;
    margin-bottom: 35px;
  }

  .social-link {
    font-size: 25px;
  }

  .questions {
    padding: 80px 10px;
  }

  .questions-title {
    font-size: 40px;
  }

  .questions-container {
    margin-top: 80px;
    display: flex;
  }

  .questions-img {
    width: 350px;
    height: 350px;
  }

  .accordion {
    width: 85%;
  }

  .accordion-container {
    display: flex;
    justify-content: center;
  }

  footer {
    padding: 10px 100px 40px;
  }

  .footer-img {
    width: 400px;
  }

  .footer-text {
    width: 100%;
    margin-right: 0px;
  }

  .footer-text h2 {
    color: #ffd200;
    margin-bottom: 10px;
  }

  .footer-text p {
    font-size: 20px;
    color: white;
  }

  .footer-text span {
    color: #98d3f3;
  }

  .social-img {
    width: 250px;
  }

  .social-text {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 1500px) {
  .social-container {
    width: 805px;
  }

  .social-text.social-text {
    width: 100%;
  }
}
